@charset "UTF-8";

/*PALETA DE CORES*/

:root{
    --cor1:#abf7e6;
    --cor2:#1DB58E;
    --cor3:#145C44;
    --cor4:#1A42D5;
    --cor5:#202461;
}

/*-------------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: var(--cor5);
    
}
body{
    background-image: linear-gradient(to top, var(--cor5), var(--cor4));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}


#login{
    background-color: white;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.459);

    transition: width .4s, height .4s;
}

#imagem{
    background: white url(../imagem/pexels-anjana-c-674010.jpg) center center no-repeat scroll;
    background-size: cover;
    height: 200px;
    display: block;
}
#formulario{
    display: block;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}
#formulario h1{
    margin: 5px;
}
#formulario #msg{
    text-align: left;
    font-size: 0.8em;
    padding: 0px 5px;
    margin: 0px 5px;
}
.campos{
    text-align: center;
    margin: 20px auto;
    border-radius: 8px;
    color: white;
    width: 92%;
    border: 1px solid var(--cor5);
}
#isenha, #iemail{
    width: calc(100% - 55px);
    height: 3em;
    padding: 2px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    background-color: var(--cor1);
    color: var(--cor5);
    font-weight: bold;
    padding: 5px;
    box-shadow: inset 1px 1px 3px var(--cor5);
}
.campos label{
    font-variation-settings: 'FILL' 1;
    color: #202461;
    font-weight: 300;
    width: 40px;
    height: 100%;
    font-size: 2em;
    transform: translate(10%, 20%);
}


form{
    margin-top: -30px;
}
#entrar{
    font-size: 1em;
    padding: 5px;
    margin: 0px 5px;
    background-color: var(--cor3);
    display: block;
    width: 95%;
    border: none;
    border-radius: 5px;
    color: white;
}
#entrar:hover{
    background-color: var(--cor2);
}

#formulario a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
    border: none;
    border: 1px solid var(--cor3);
    border-radius: 5px;
    color: var(--cor3);
}
#formulario a:hover{
    
    background-color: var(--cor2);
    color: white;
}


