@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, rgb(187, 187, 248) 5%, rgb(208, 208, 252) 15%, rgb(237, 237, 250));
    background-attachment: fixed;
}

h1{
    text-align: center;
}

.foto{
    background-color: rgba(240, 248, 255, 0.068);
    display: flex;
    justify-content: center;
}
.caixa{
    width: 150px;
    background-color: rgba(235, 127, 132, 0.137);
    border: 2px dashed rgb(61, 7, 40);
    padding-left: 37px;
    padding-right: 2px;
    margin: auto;
}
a{
    text-decoration: none;
    color: rgb(9, 9, 63);
}
a:hover{
    color: rgb(9, 90, 172);
}
a:active{
    color: rgb(54, 5, 100);
}

