@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: aquamarine url(imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}
main{
    position: relative;
    
    height: 100vh;
    width: 100vw;
}
#telefone{
    background: rgba(128, 128, 128, 0) url(imagens/frame-iphone.png) left top no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#frame{
    background-color: blue;
    width: 216px;
    height: 381px;
    position: absolute;
    left: 6.95%;
    top: 12.7%;
    border-radius: 3px;
    scroll-behavior: auto;
}
nav{
    background-color: rgba(255, 235, 205, 0.11);
    height: 500px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(0%, -50%);
    border-radius: 15px;
    
}
nav img:hover{
    width: 60px;
    transform: translate(-15px, 0px);
    border: 1px solid rgba(255, 255, 255, 0.582);
    transform: translate(5px -2px);
    box-shadow: 5px 3px 6px 2px rgba(0, 0, 0, 0.363);
    transition: transform 0.5s, width 0.5s, border 1s;
    
}
.link{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
    
}
#home{
    margin-bottom: 50px;
}
img.logo{
    width: 50px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.445);
    display: block;
    border-radius: 50%;
}
