@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: aquamarine url(imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}
main{
    position: relative;
    
    height: 100vh;
    width: 100vw;
}
#telefone{
    background: rgba(128, 128, 128, 0) url(imagens/frame-iphone.png) left top no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#frame{
    background-color: blue;
    width: 216px;
    height: 381px;
    position: absolute;
    left: 6.95%;
    top: 12.7%;
    border-radius: 3px;
}
nav{
    background-color: rgba(255, 235, 205, 0.11);
    height: 500px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(0%, -50%);
    border-radius: 15px;
    
}
.link{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}
#home{
    margin-bottom: 50px;
}
img.logo{
    max-width: 50px;
    max-height: 50px;
    display: block;
    border-radius: 50%;
}
