@charset "UTF-8";

/*Media Queries*/

@media screen and (min-width:600px){
    header{
        width: 90vw;
    }
    main{
        width: 90vw;
    }
    span#burguer{
        display: none;
    }
    menu#itens{
        display: block;
    }
    menu#itens li{
        display: inline-block;
        
        
    }
}